// All animations

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes rotation-ani {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation-ani {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-webkit-keyframes  ripple{
  0%{transform:scale(1)}50%{transform:scale(1.3);opacity:1}100%{transform:scale(1.6);opacity:0}
}
@keyframes ripple{
  0%{transform:scale(1)}50%{transform:scale(1.3);opacity:1}100%{transform:scale(1.6);opacity:0}
}

@-webkit-keyframes slidertop {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    transform: translateY(-180%);
    -webkit-transform: translateY(-180%);
    -moz-transform: translateY(-180%);
    -ms-transform: translateY(-180%);
    -o-transform: translateY(-180%);
  }
}
@keyframes slidertop {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    transform: translateY(-180%);
    -webkit-transform: translateY(-180%);
    -moz-transform: translateY(-180%);
    -ms-transform: translateY(-180%);
    -o-transform: translateY(-180%);
  }
}


:root {
	--container-width: 1140px;
	--max-container-width: 74em;
  @media (max-width: 992px) {
    --container-width: 100%;
    --max-container-width: 100vw;
  }
}


// All fonts
// 1. Headings
$h1-font-size: 70px !default;
$h2-font-size: 62px !default;
$h3-font-size: 54px !default;
$h4-font-size: 32px !default;
$h5-font-size: 28px !default;
$h6-font-size: 18px !default;
$h7-font-size: 16px !default;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
  line-height: 88px;
}
h2, .h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
  line-height: 88px;
}
h3, .h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-semibold;
  line-height: 74px;
}
h4, .h4 {
  font-size: $h4-font-size;
  font-weight: $font-weight-normal;
  line-height: 50px;
}
h5, .h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-semibold;
  line-height: 36.4px;
}
h6, .h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-normal;
  line-height: 29px;
}

@media (min-width: 1200px) and (max-width: 1599px) {
  h1, .h1 {
    font-size: $h1-font-size - 16;
    line-height: 72.8px;
  }
  h2, .h2 {
    font-size: $h2-font-size - 14;
    line-height: 62.4px;
  }
  h3, .h3 {
    font-size: $h3-font-size - 14;
    line-height: 52px;
  }
  h4, .h4 {
    font-size: $h4-font-size - 4;
    line-height: 36.4px;
  }
  h5, .h5 {
    font-size: $h5-font-size;
    line-height: 36.4px;
  }
  h6, .h6 {
    font-size: $h6-font-size;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1, .h1 {
    font-size: $h1-font-size - 16;
    line-height: 102px - 29.2;
  }
  h2, .h2 {
    font-size: $h2-font-size - 14;
    line-height: 88px - 25.6;
  }
  h3, .h3 {
    font-size: $h3-font-size - 14;
    line-height: 74px - 22;
  }
  h4, .h4 {
    font-size: $h4-font-size - 4;
    line-height: 50px - 13.6;
  }
  h5, .h5 {
    font-size: $h5-font-size;
    line-height: 36.4px;
  }
  h6, .h6 {
    font-size: $h6-font-size;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h1, .h1 {
    font-size: 54px;
    line-height: 72.8px;
  }
  h2, .h2 {
    font-size: $h2-font-size - 14;
    line-height: 88px - 25.6;
  }
  h3, .h3 {
    font-size: $h3-font-size - 14;
    line-height: 74px - 22;
  }
  h4, .h4 {
    font-size: $h4-font-size - 4;
    line-height: 50px - 13.6;
  }
  h5, .h5 {
    font-size: $h5-font-size;
    line-height: 36.4px;
  }
  h6, .h6 {
    font-size: $h6-font-size;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  h1, .h1 {
    font-size: 30px;
    line-height: 39px;
  }
  h2, .h2 {
    font-size: 28px;
    line-height: 36.4px;
    font-weight: 600;
  }
  h3, .h3 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
  }
  h4, .h4 {
    font-size: 18px;
    line-height: 23.4px;
  }
  h5, .h5 {
    font-size: 18px;
    line-height: 23.4px;
  }
  h6, .h6 {
    font-size: 14px;
    line-height: 18.2px;
  }
}


// scroll snapping
.pr-page-wrapper {
	scroll-snap-type: y mandatory;
	-ms-scroll-snap-type: mandatory;
	-ms-scroll-snap-points-y: snapInterval(0%, 100%)
}
.snap-sec {
	scroll-snap-align: start;
}


// helper classes
.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.vh-100 {
	height: 100vh !important;
}
.w100 {
	width: 100% !important;
}
.max-w-100 {
	max-width: 100% !important;
}


@media screen and (max-width: 991.98px) {
  .vh-100 {
    height: auto !important;
  }
}



// pr-sections
.pr-section-padding {
  position: relative;
}
// pr-container
.pr-container {
  &.pr-container-flx-center {
    flex-wrap: wrap;
  }
  &.pr-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 1599px) {
  .pr-container {
    width: 1020px;
    max-width: 88vw;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .pr-section-padding {
    padding: 60px 7vw 60px;
  }
  .pr-container {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .pr-section-padding {
    padding: 60px 30px 60px;
  }
  .pr-container {
    max-width: 720px;
  }
}

@media screen and (max-width: 767.98px) {
  .pr-container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .pr-section-padding {
    padding: 60px 20px 60px;
  }
  .pr-container {
    max-width: 540px;
  }
}



// Navbar
.pr-body {
  &.nav_menu_is_active {
    overflow: hidden;
  }
  &.dark-bg {
    .pr-header {
      .pr-main-nav {
        .logo-img {
          fill: var(--color-white);
          filter: brightness(0) invert(1);
        }
        .menu-links {
          .right-menu-link {
            color: var(--color-white) !important;
            transition: all .3s ease-in-out;
          }
        }
        .menu-bttn-wrap {
          .hamburger-line {
            background-color: var(--color-white) !important;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
}


// Header
.pr-body.nav_menu_is_active .logo-img {
  fill: var(--color-white);
  filter: brightness(0) invert(1);
}

//Top Nav
.pr-header {
  .nav.cus-container.pr-main-nav {
    max-width: 100vw !important;
    margin: 0;
    padding-top: 3rem;
  }
  .nav-container.comman-top-menu {
    &.pr-top-menu {
      padding-left: 3rem;
      padding-right: 3rem;
      &.active-class {
       
        
      }
      .header-flex-wrapper {
        .nav-link-wrap {
          .nav-link {
            @media (min-width: 992px) and (max-width: 1199.98px) {
              font-size: 48px;
              line-height: 62.4px;
            }
          }
          .nav-link.small-nav-link {
            @media (min-width: 992px) and (max-width: 1199.98px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .nav.cus-container.pr-main-nav {
      padding-top: 1.5rem;
      padding-left: 20px;
      padding-right: 20px;
      .logo-img {
        max-width: 36px;
      }
      .menu-bttn {
        .menu-bttn-wrap {
          width: 45px;
          .hamburger-line {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .nav_menu_is_active .nav.cus-container.pr-main-nav .menu-bttn .menu-bttn-wrap .hamburger-line {
    margin-bottom: 7px;
  }
}


// Full Menu
.pr-header {
  .pr-top-menu {
    &.active-class {}
    .header-flex-wrapper {
      .nav-link-wrap {
        .nav-link {
          position: relative;
          display: block;
          &:hover {
            &::after {
              transform-origin: bottom left;
              transform: translateY(-50%) scaleX(1);
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 58px;
            height: 2px;
            top: 50%;
            background-color: #FF5500;
            transform: translateY(-50%) scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s;
            margin-left: 13px;
          }
        }
      }
    }
  }
}


// Footer
footer.pr-footer-wrapper {
  .pr-footer-container {
    max-width: 1260px;
    .pr-footer {
      .pr-footer-main {
        .newsletter-wrapper {
          .newsletter-heading {
            position: relative;
            display: inline-block;
            @media screen and (max-width: 991.98px) {
              margin-left: -6.5vw;
            }
            &::before {
              content: '';
              background-image: url(https://cdn.prod.website-files.com/66b622a8c4666078c780e47e/66b622a8c4666078c780e4e2_que-mark-w.png);
              position: absolute;
              right: -50px;
              top: -20px;
              width: 38px;
              height: 95px;
              background-repeat: no-repeat;
              // filter: brightness(0) saturate(100%) invert(40%) sepia(30%) saturate(6371%) hue-rotate(1deg) brightness(104%) contrast(107%);
            }
          }
          .pr-bttn {
            padding: 15px 45px;
          }
        }
      }
      .pr-footer-common {
        width: 100%;
        max-width: 100%;
        // position: absolute;
        left: 50%;
        bottom: 60px;
        transform: translateX(-50%);
        @media screen and (max-width: 991px) {
          position: static;
          transform: none;
        }
        .footer-bottom {
          .footer-bottom-txt {
            transition: all 0.33s ease;
            .text-gray  {
              font-family: "Segoe UI";
              color: #777777;
              .heart-text {
                opacity: 1;
                color: #d2143a;
                animation: heartBeat 1.8s infinite;
                transform-origin: center;
                -webkit-animation: heartBeat 1.8s infinite;
                display: inline-block;
                margin: 0 6px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1599px) {
    .pr-footer-container {
      width: 1020px;
      max-width: 88vw;
    }
  }
  @media screen and (max-width: 767.98px) {
    .pr-footer-container {
      max-width: 100%;
    }
  }
}


// Button CSS
.pr-bttn {
  position: relative;
  transition: all 0.3s ease-in-out;
  // overflow: hidden;
  @media (max-width: 992px) {
    padding: 10px 24px;
    font-size: 14px;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 101%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-bg-dark-1);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 2px;
    top: calc(50% - 1px);
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
    margin-left: 1.2em;
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--color-white);
    &.pr-bttn-inverse {
      border-color: var(--color-white);
      &::before {
        background-color: var(--color-white);
      }
    }
    &::before {
      transform: scaleX(1);
    }
    &::after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}
.pr-txt-link-bttn {
  transition: all 0.3s ease-in-out;
}


// Pr slider
.pr-slider-content {
  .pr-slider-content {
    .pr-slider-image-wrap {
      position: relative;
      overflow: hidden;
      &:hover {
        .pr-slider-image {
          transform: scale(1.25);
        }
      }
      .pr-slider-image {
        transform: scale(1);
        transition: transform .2s ease-in-out;
      }
    }
  }
}


@media (max-width: 768px) {
  // Footer
  .pr-footer {
    .pr-footer-common {
      transform: none;
    }
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .vh-100 {
    height: auto !important;
  }
}


// Modals
.pr-yt-modal {
  .pr-modal-container {
    .pr-modal-content {
      .pr-yt-modal-close {        
        position: absolute;
        top: -18px;
        right: -18px;
        opacity: .5;
        .pr-modal-close-bttn {
          color: white;
          font-size: 36px;
          font-weight: 700;
          line-height: 1;
          text-shadow: 0 1px 0 #fff;
        }
      }
    }
  }
}


// Vertical Tabs
.pr-vertical-tabs-wrap {
  .pr-vertical-tabs {
    .pr-vertical-tabs-menu {
      .pr-vertical-tab-link {
        display: block;
        font: normal normal 400 32px/1.5 "Poppins";
        background-color: transparent;
        color: #FFFFFF;
        padding: 0;
        margin-bottom: 58px;
        opacity: .5;
        transition: all .2s ease;
        div {
          position: relative;
          display: inline-block;
          &::after {
            content: "";
            position: absolute;
            width: 58px;
            height: 2px;
            top: 12px;
            background-color: #FF5500;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s;
            margin-left: 13px;
            top: 24px;
            left: 99%;
            right: auto;
          }
        }
        &.w--current {
          opacity: 1;
        }
        &:hover {
          opacity: 1;
          div {
            &::after {
              height: 1.5px;
              opacity: 1;
              transform-origin: bottom left;
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .pr-vertical-tabs-content {
      .flex-button-group {
        font-size: 1rem;
        .pr-txt-link-bttn {
          color: #FFFFFF;
        }
      }
    }
  }
  @media screen and (max-width: 1599px) {
    .pr-vertical-tabs {
      .pr-vertical-tabs-menu {
        .pr-vertical-tab-link {
          font-size: 28px;
          line-height: 1.2;
          margin-bottom: 40px;
          div {
            &::after {
              width: 28px;
              top: 18px;
              left: 100%;
            }
          }
        }
      }
    }
  }
}


// Awwards Scrolling section  
.awards-scroller-wrap {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.awards-scroller-wrap::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}


// Clients Logo vertical Scroller
.slider-move-outer-wrap {
  height: 670px;
  overflow: hidden;
  position: relative;
  left: 70px;
  .slider-move-top-wrap {
    animation: slidertop 34s linear infinite alternate-reverse;
    -webkit-animation: slidertop 34s linear infinite alternate-reverse;
    height: calc(100vh - 200px);
    &:hover {
      animation-play-state: paused;
    }
    .slider-move-top {
      max-width: 560px;
      width: 100%;
      margin-left: 70px;
      margin-top: 30px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      .client-slide-items {
        width: 100%;
        margin: 0;
        .client-slide-items-col1,
        .client-slide-items-col2 {
          width: 50%;
          text-align: center;
          float: left;
          margin: 40px 0;
          transition: all 0.2s linear 0s;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-transition: all 0.2s linear 0s;
          -moz-transition: all 0.2s linear 0s;
          -ms-transition: all 0.2s linear 0s;
          -o-transition: all 0.2s linear 0s;
          .client-slide-items-img {
            height: 45px;
            max-width: 120px;
            object-fit: cover;
            width: auto;
            object-fit: contain;
          }
          &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}


/* custom css for scrolbar -04-08-2020 */
.mCSB_scrollTools .mCSB_draggerRail, .mCSB_scrollTools .mCSB_draggerRail{background:none !important;border-right:1.4px solid rgba(0,0,0,.15) !important;opacity:1 !important;margin-left:4px !important;filter:none !important;-webkit-filter:none !important}
.mCSB_scrollTools .mCSB_dragger{background:url("https://cdn.prod.website-files.com/66b622a8c4666078c780e47e/66f3aacbec922a34423253fa_scrollbar.svg") no-repeat 0 0;width:15px !important;height:30px !important}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{opacity:0 !important}
.mCSB_scrollTools .mCSB_inside>.mCSB_container{margin-right:0 !important}
.mCSB_scrollTools_vertical{display:block;transform:scale(1, 0.4);transform-origin:0 center;-webkit-transform:scale(1, 0.4);-moz-transform:scale(1, 0.4);-ms-transform:scale(1, 0.4);-o-transform:scale(1, 0.4)}
.mCSB_scrollTools .mCSB_dragger{transform:scale(1, 2.5);transform-origin:17px -2px;-webkit-transform:scale(1,2.5);-moz-transform:scale(1,2.5);-ms-transform:scale(1,2.5);-o-transform:scale(1,2.5)}
.mCSB_inside>.mCSB_container{margin-right:0 !important}
.mCSB_scrollTools .mCSB_draggerContainer::before {
  position: absolute;
  content: '';
  top: 5px;
  left: calc(50% - 1px);
  background: #d2d2d2 !important;
  width: 1px;
  height: 95%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 1;
}
.mCSB_scrollTools .mCSB_draggerRail, 
.mCSB_scrollTools .mCSB_draggerRail {
  display: none;
}



// Principles Scroller
.principles-content-block-wrapp {
	max-width: 500px;
  max-height: calc(100vh - 240px);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 20px;
  overflow: auto;
  .principles-content-block {
    margin-bottom: 80px;
    padding-right: 80px;
  }
}



// Form Elements
.pr-form .pr-form-label {
  font: normal normal 400 14px/normal "Poppins";
  color: var(--color-bg-dark-1);
}

.pr-form-field {
  font: normal normal 400 18px/normal "Poppins";
  border-bottom: 1px solid rgba(30, 35, 41, 0.4);
}

.pr-form-field:focus {
  border-color: var(--color-bg-dark-1);
}

.pr-form-field::placeholder {
  font: normal normal 400 16px/normal "Poppins";
}

// checkbox
.form-checkbox-field {
  position: relative;
  padding-left: 30px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  .check {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 1px solid #ddd;
    box-shadow: none;
    background: #fff;
    margin: 0;
    top: 6px;
    left: 0;
    transition: all .3s ease;
    z-index: 1;
    cursor: pointer;
    &.w--redirected-checked {
      &::before {
        content: "";
        display: block;
        color: #fff;
        left: 6px;
        top: 1px;
        width: 3px;
        height: 10px;
        border: solid #212529;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
      }
    }
  }
  input {

  }

}

// radios
.form-radio-field {
  padding-left: 30px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  .radio {
    position: relative;
    top: -3px;
    left: -10px;
    height: 18px;
    width: 18px;
    overflow: hidden;
    box-shadow: none;
    transition: all .3s ease;
    z-index: 1;
    cursor: pointer;
    &.w--redirected-checked {
      border: 1px solid var(--color-bg-dark-1);
      background-color: #FFFFFF;
      &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: var(--color-bg-dark-1);
        border-radius: 50%;
        height: 60%;
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }
}

// Inputs
.pr-input-text-wrapper {
  .pr-input-text-label {
    font: normal normal 400 14px/normal "Poppins";
    color: var(--color-bg-dark-1);
  }
  .pr-input-text-field {
    border: 0;
    border-bottom: 1px solid #CCC;
    &:focus {
      border-color: 1px solid var(--color-bg-dark-1);
    }
  }
  .pr-input-textarea-field {
    border: 0;
    border-bottom: 1px solid #CCC;
    &:focus {
      border-color: 1px solid var(--color-bg-dark-1);
    }
  }
  .pr-input-select-field {
    border: 0;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    padding-left: 2px;
    &:focus {
      border-color: 1px solid var(--color-bg-dark-1);
    }
  }
}