// .contact-section1 .addr-wrap .addr-indo-wrap .addr-list-inline .list-inline-item:not(:last-child) {
// 	padding-right: 20px;
// 	border-right: 1px solid rgba(30, 35, 41, 0.5);
// 	margin-right: 20px;
// }

.addr-wrap .addr-indo-wrap .addr-list-inline .list-inline-item .list-inline-item-lnk:not(:last-child) {
  padding-right: 20px;
	border-right: 1px solid rgba(30, 35, 41, 0.5);
	margin-right: 20px;
}



// Ux Ui Design Process

.pr-section-padding {
	&.ui-ux-p-sec-1 {
		.pr-container {
			.scroll-content-wrapper {
				position: relative;
				height: 90%;
				max-height: 90%;
				.right-content-wrap {
					.content-block-scroll-wrapp {
						max-height: calc(100vh - 40px);
						.content-block-wrapp {
							margin-bottom: 133px;
							padding-left: 60px;
							max-width: 550px;
							&:first-of-type {
								padding-top: 250px;
							}
							.custom-li-design {
								position: relative;
								font-weight: 300;
								margin-bottom: 30px;
								&::before {
									content: "";
									position: absolute;
									width: 12px;
									height: 0px;
									left: -25px;
									top: 13px;
									border: 1px solid #FF6600;
								}
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1599px) {
			.ui-ux-p-heading {
				font-size: 54px;
				line-height: 72.8px;
				padding-left: 1.2vw;
			}
			.indus-card-heading-1 {
				font-size: 40px;
				line-height: 52px;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp {
				padding-left: 0px;
			}
		}
		@media screen and (max-width: 1199px) {
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp:first-of-type {
				padding-top: 120px;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp {
				padding-left: 40px;
				max-width: 480px;
			}
		}
		@media screen and (max-width: 991.98px) {
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp {
				max-height: unset;
				.mCustomScrollBox  {
					max-height: none;
				}
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp:first-of-type {
				padding-top: 0;
				padding: 0;
			}
		}
		@media screen and (max-width: 767.98px) {
			.ui-ux-p-heading {
				font-size: 30px;
				line-height: 39px;
				margin-top: 0;
				margin-bottom: 60px;
				max-width: 340px;
				text-align: center;
				.code {
					font-size: 42px;
				}
			}
			.content-block-wrapp .ui-ux-scroll-img {
				max-width: 60px;
				margin-bottom: 20px;
			}
			.indus-card-heading-1 {
				font-size: 26px;
				line-height: 34px;
				font-weight: 600;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp .custom-li-design {
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 15px;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp .custom-li-design::before {
				top: 10px;
				border-color: var(--color-dark-1);
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp {
				margin-bottom: 70px;
				padding-left: 0;
			}
			.pr-container .scroll-content-wrapper {
				height: auto;
				max-height: unset;
				padding-bottom: 0;
			}
			.content-block-wrapp {
				&.only-img {
					display: none;
				}
				.paragraph-4 {
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 20px;
				}
			}
		}
	}
}


// Industries

.pr-section-padding {
	&.pr-indus-sec {
		.pr-container {
			.scroll-content-wrapper {
				position: relative;
				height: 90%;
				max-height: 90%;
				.right-content-wrap {
					.content-block-scroll-wrapp {
						max-height: calc(100vh - 80px);
						.content-block-wrapp {
							margin-bottom: 133px;
							padding-left: 60px;
							max-width: 550px;
							&:first-of-type {
								padding-top: 250px;
							}
							.custom-li-design {
								position: relative;
								font-weight: 300;
								margin-bottom: 30px;
								&::before {
									content: "";
									position: absolute;
									width: 12px;
									height: 0px;
									left: -25px;
									top: 13px;
									border: 1px solid #FF6600;
								}
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1599px) {
			.indus-heading {
				font-size: 54px;
				line-height: 72.8px;
				padding-left: 1.2vw;
			}
			.indus-card-heading-1 {
				font-size: 40px;
				line-height: 52px;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp {
				padding-left: 0px;
			}
		}
		@media screen and (max-width: 1199px) {
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp:first-of-type {
				padding-top: 120px;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp {
				padding-left: 40px;
				max-width: 480px;
			}
		}
		@media screen and (max-width: 991.98px) {
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp {
				max-height: unset;
				.mCustomScrollBox  {
					max-height: none;
				}
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp:first-of-type {
				padding-top: 0;
				padding: 0;
			}
		}
		@media screen and (max-width: 767.98px) {
			.indus-heading {
				font-size: 30px;
    		line-height: 39px;
				margin-top: 0;
				margin-bottom: 60px;
				max-width: 340px;
				text-align: center;
			}
			.content-block-wrapp .ui-ux-scroll-img {
				max-width: 60px;
				margin-bottom: 20px;
			}
			.indus-card-heading-1 {
				font-size: 26px;
				line-height: 34px;
				font-weight: 600;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp .custom-li-design {
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 15px;
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp .custom-li-design::before {
				top: 10px;
				border-color: var(--color-dark-1);
			}
			.pr-container .scroll-content-wrapper .right-content-wrap .content-block-scroll-wrapp .content-block-wrapp {
				margin-bottom: 70px;
				padding-left: 0;
			}
			.pr-container .scroll-content-wrapper {
				height: auto;
				max-height: unset;
				padding-bottom: 0;
			}
		}
	}
}


// Design Experiments

.pr-section-padding {
	&.design-exp-section {
		.pr-video-blk-wrapper {
			max-width: calc(100% - 90px);
			.pr-video-blk {
				position: relative;
				cursor: pointer;
				min-width: calc(50% - 45px);
  			max-width: calc(50% - 45px);
				&:nth-child(2n+1) {
					margin-top: 60px;
				}
				.pr-yt-video-embd {
					height: 300px;
					.pr-video-blk-img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.circle {
						height: 70px;
						width: 70px;
						border-radius: 50%;
						border: 2px solid #242424;
						background-color: rgba(255, 255, 255, 0.8);
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						.play-text {
							text-align: center;
							font-size: 22px;
							color: #242424;
						}
						&::before, 
						&::after {
							content: "";
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							border: 1px solid #f98e2f;
							border-radius: 50%;
							-webkit-border-radius: 50%;
							-moz-border-radius: 50%;
							-ms-border-radius: 50%;
							-o-border-radius: 50%;
							opacity: 0;
						}
					}
				}
				&:hover {
					.pr-yt-video-embd {
						.circle {
							border-color: #f98e2f;
							&::before {
								animation: ripple 2s linear infinite;
								opacity: 1;
							} &::after {
						    animation: ripple 2s linear 1s infinite;
						    -webkit-animation: ripple 2s linear 1s infinite;
						    opacity: 1;
							}
						}
					}
				}
			}
		}

		@media screen and (max-width: 1599px) {
			.pr-design-exp-header {
				padding-top: 60px;
				padding-bottom: 60px;
			}
			.pr-video-blk-wrapper {
				row-gap: 0;
				max-width: 100%;
			}
		}
		@media screen and (max-width: 991.98px) {
			.pr-design-exp-header {
				padding-bottom: 20px;
			}
			.pr-design-exp-para {
				font-size: 20px;
			}
			.pr-video-blk-wrapper .pr-video-blk .pr-yt-video-embd {
				height: 200px;
			}
		}
		@media screen and (max-width: 767.98px) {
			.pr-design-exp-ttl {
				text-align: center;
			}
			.pr-design-exp-para {
				font-size: 16px;
				line-height: 25px;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.pr-video-blk-wrapper .pr-video-blk {
				min-width: 100%;
				max-width: 100%;
			}
			.pr-video-blk-wrapper .pr-video-blk .pr-yt-video-embd {
				height: 280px;
			}
			.pr-video-blk-ttl {
				font-size: 18px;
    		line-height: 23.4px;
			}
		}

	}
}


#playButton {
	opacity: 0;
}
/* right-facing triangle "Play" icon */
.lite-youtube-fallback::before {
	display: block;
	content: '';
	border: solid transparent;
	border-width: 2em 0 2em 3em;
	border-left-color: red;
}

// 404 Page
.page404 {
  .error-page-sec {
    .error-page-container {
      .col404 {
        .col404-left {
          flex: 1;
          max-width: 60%;
          @media (min-width: 1200px) and (max-width: 1599px) {
            max-width: 66%;
          }
          @media screen and (max-width: 991px) {
            width: 100%;
            min-width: 100%;
          }
        }
        .col404-right {
          flex: 0;
          width: 40%;
          min-width: 40%;
          @media (min-width: 1200px) and (max-width: 1599px) {
            width: 33%;
            min-width: 33%;
          }
          @media screen and (max-width: 991px) {
            width: 100%;
            min-width: 100%;
          }
        }
      }
      .error-img-block {
        .error-icon {
          animation: rotation-ani 35s infinite linear;
          -webkit-animation: rotation-ani 35s infinite linear;
          max-height: 80%;
          left: 50%;
          top: -10%;
          @media (max-width: 1199px) {
            max-height: 85%;
            top: -10px;
            right: 38px;
            left: auto;
          }
        }
      }
      .pr-bttn {
        display: table;
        margin-left: 0;
        margin-right: auto;
				@media screen and (max-width: 991px) {
					margin-left: auto;
				}
      }
    }
  }
}


// Privacy policy

.pr-section-padding {
	&.privacy-section {
		@media screen and (max-width: 992px) {
			padding-top: 150px;
		}
		@media screen and (max-width: 767.98px) {
			padding-top: 120px;
		}
		@media screen and (max-width: 576px) {
			.pr-container {
				max-width: 500px;
			}
		}
		.privacy-title {
			@media screen and (max-width: 767.98px) {
				text-align: center;
			}
		}
		strong {
			font-weight: 600;
		}
		.a-link-1 {
			text-decoration: underline;
			color: #e6870e;
			&:hover {
				text-decoration: none;
			}
		}
		.privacy-p2 {
			@media screen and (max-width: 767.98px) {
				text-align: center;
				max-width: 480px;
				margin: 0 auto 30px;
			}
		}
		.privacy-p1 {
			position: relative;
			@media screen and (max-width: 767.98px) {
				font-size: 14px;
				line-height: 1.5;
				margin-bottom: 10px;
			}
			&.para-style-dash {
				padding-left: 30px;
				@media screen and (max-width: 767.98px) {
					margin-bottom: 10px;
				}
				&::before {
					content: "";
					position: absolute;
					width: 10px;
					height: 0px;
					left: 0;
					top: 15px;
					border: 1px solid #1E2329;
					@media screen and (max-width: 767.98px) {
						left: 7px;
						top: 10px;
					}
				}
			}
			&.para-style-dott {
				padding-left: 54px;
				margin-bottom: 24px;
				@media screen and (max-width: 767.98px) {
					margin-bottom: 10px;
				}
				&::before {
					content: "";
					position: absolute;
					width: 7px;
					height: 7px;
					left: 32px;
					top: 13px;
					border: none;
					background: #1E2329;
					border-radius: 50%;
					@media screen and (max-width: 767.98px) {
						height: 5px !important;
						width: 5px !important;
						left: 40px;
						top: 7px;
					}
				}
			}
		}
		.privacy-headings {
			@media screen and (max-width: 767.98px) {
				font-size: 18px;
				margin: 10px 0 15px;
			}
		}
	}
}


// Our Work


.our-work-tabs {
	.our-work-tabs-menu {
		.our-work-tab-link {
			background-color: transparent;
			.tab-flex {
				.tab-txt {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						width: 33px;
						height: 2px;
						top: 12px;
						background-color: #FF5500;
						transform: scaleX(0);
						transform-origin: bottom right;
						transition: transform 0.3s;
						margin-left: 13px;
						top: 12px;
						left: 95%;
						right: auto;
					}
				}
			}
			&.w--current,
			&:hover {
				.tab-flex {
					.tab-txt {
						&::after {
							height: 1.5px;
							opacity: 1;
							transform-origin: bottom left;
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
}

.pr-section-padding {
	&.our-work-sec {
		.our-work-heading {
			line-height: normal !important;
		}
		.our-work-tabs .our-work-tabs-menu {
			position: relative;
			left: -25px;
		}
		.work-heading-wrapper {
			.our-work-ttl {
				@media (min-width: 1200px) and (max-width: 1599px) {
					// font-size: 54px;
				}
			}
			.our-work-sbttl {
				@media (min-width: 1200px) and (max-width: 1599px) {
					font-size: 54px;
				}
			}
		}
		.work-tac-wrap {
			.our-work-wrapper-row {
				justify-content: center;
				.our-work-wrapper-column {
					display: block;
					padding: 0;
					margin-left: auto;
					margin-right: auto;
					max-width: 480px;
					&:nth-child(2n+1) {
						padding-top: 50px;
					}
					&.work-pages {
						margin-bottom: 140px;
					}
					.pr-yt-video-embd {
						position: relative;
						height: 600px;
						.pr-video-blk-img {
							position: absolute;
						}
					}
				}
			}
		}
		@media (max-width: 1599px) {
			.our-work-heading {
				line-height: 1.3;
			}
			.work-tac-wrap .our-work-wrapper-row {
				column-gap: 60px;
				margin-bottom: 100px;
			}
			.work-tac-wrap .our-work-wrapper-row .our-work-wrapper-column .pr-yt-video-embd {
				height: 480px;
			}
		}
		@media (max-width: 991px) {
			.our-work-tabs .our-work-tabs-menu {
				position: relative;
				left: -10px;
			}
			.work-tac-wrap .our-work-wrapper-row .our-work-wrapper-column .pr-yt-video-embd {
				height: 360px;
			}
			.our-work-tabs .our-work-tabs-menu .our-work-tab-link {
				padding-left: 15px;
				padding-right: 15px;
				margin-right: 15px;
			}
			.our-work-tabs .our-work-tabs-menu .our-work-tab-link .tab-flex .tab-txt::after {
				width: 20px;
				left: 88%;
			}
		}
		@media (max-width: 767.98px) {
			.work-tac-wrap .our-work-wrapper-row {
				column-gap: 60px;
				margin-bottom: 0;
				max-width: 480px;
				margin-left: auto;
				margin-right: auto;
			}
			.work-heading-wrapper {
				margin-top: 40px;
			}
			.our-work-ttl {
				text-align: center;
				font-size: 14px;
				line-height: 18.2px;
				margin-bottom: 30px;
			}
			.our-work-sbttl {
				text-align: center;
				font-size: 30px;
    		line-height: 39px;
			}
			.our-work-tabs .our-work-tabs-menu {
				display: flex;
				flex-wrap: nowrap;
				.our-work-tab-link {
					min-width: 120px;
					margin-right: 0;
					padding-left: 10px;
    			padding-right: 10px;
					.tab-flex {
						.tab-img {
							max-width: 20px;
						}
						.tab-txt {
							font-size: 12px;
							&::after {
								top: 8px;
							}						
						}
					}
				}
			}
			.our-work-links {
				font-size: 18px;
				line-height: 24px;	
			}
			.work-tac-wrap .our-work-wrapper-row .our-work-wrapper-column:nth-child(2n+1) {
				padding-top: 0;
			}
			.work-tac-wrap .our-work-wrapper-row .our-work-wrapper-column .pr-yt-video-embd {
				img {
					display: block;
					height: 100%;
					width: auto;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.work-tac-wrap .our-work-wrapper-row .our-work-wrapper-column .pr-yt-video-embd .pr-video-blk-img {
				margin-left: auto;
				margin-right: auto;
			}
			.our-work-wrapper-column {
				margin-bottom: 80px;
			}
		}

	}
}




// Homepage


.pr-section-padding {
	&.homepage-common-sec {
		.pr-row-wrapper {
			.para-18 {
				display: block;
				font: normal normal 400 18px/normal "Poppins";
				margin-bottom: 30px;
			}
			.home-common-sec-heading {
				display: block;
				font: normal normal 700 62px/1.2 "Poppins";
				margin-bottom: 20px;				
			}
			.home-common-sec-para {
				display: block;
				font: normal normal 400 20px/1.5 "Lora";
				margin-bottom: 30px;
			}
			.pr-article-read {
				p {
					display: block;
					font: normal normal 400 16px/normal "Poppins";
					color: #FF5500;
					margin-bottom: 30px;
				}
			}
		}
		@media screen and (max-width: 1599px) {
			.home-common-sec-heading {
				font-size: 48px;
    		line-height: 62.4px;
			}
		}
	}
	&.pr-home-sec-1 {
		.pr-row-wrapper {
			padding-bottom: 80px;
		}
		.hero-logos-wrapper {
			position: relative;
			top: -10px;			
		}
		@media screen and (max-width: 1599px) {
			.pr-home-sec1-img-blk {
				left: -116px;
				width: 520px;
				z-index: -1;
			}
			.hero-logos-wrapper {		
				top: -30px;
			}
		}
	}
	&.pr-home-sec-2 {
		.pr-slider-wrapper {
			.home-sec2-slider-wrap {
				.home-sec2-slider {
					.comman-card-info {
						.comman-card-top-ul {
							.list-inline-item {
								position: relative;
								&:not(:last-child) {
									&::before {
										position: absolute;
										content: '';
										top: 14px;
										left: auto;
										right: 17px;
										display: block;
										height: 1px;
										width: 27px;
										background-color: #1E2329;
										z-index: 1;
									}
								}
								.slider-txt-1 {
									margin-right: 60px;
									white-space: nowrap;
								}
							}
						}
						.comman-card-bottom-ul {
							display: none;
						}
					}
					.slick-dots {
						text-align: left;
						left: 0;
						bottom: 10px;
						z-index: 0;
						li {
							display: inline-block;
							height: 9px;
							width: 9px;
							background-color: #FFFFFF;
							border: 1px solid #242424;
							border-radius: 50%;
							margin: 0;
							padding: 0;
							margin-right: 10px;
							&.slick-active {
								background-color: #FF6600;
								border-color: #FF6600;
							}
							button::before {
								display: none;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1599px) {
			.sec-heading {
				font-size: 48px;
    		line-height: 62.4px;
			}
			.comman-card-img-wrap {
				max-width: 500px;
				left: 0px;
				top: 60px;
				img {
					object-fit: cover;
				}
			}
		}
	}
	&.pr-home-sec-3 {
		.home-sec-3-tabs {
			.home-sec-3-tabs-link {
				height: 40px;
				background-color: #fff;
				line-height: normal;
				.tab-flex {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						width: 58px;
						height: 2px;
						top: 12px;
						background-color: #FF5500;
						transform: scaleX(0);
						transform-origin: bottom right;
						transition: transform 0.3s;
						margin-left: 13px;
						top: 12px;
						left: 95%;
						right: auto;
					}
				}				
				&.w--current,
				&:hover {
					.tab-flex {
						&::after {
							height: 1.5px;
							opacity: 1;
							width: 28px;
							transform-origin: bottom left;
							transform: scaleX(1);
						}
					}
				}
			}
			.home-sec-3-tab-content {
				min-height: 320px;
			}		
		}
		.home-tab-wrappper {
			position: relative;
			left: -70px;
			overflow: hidden;
		}
		@media screen and (max-width: 1599px) {
			.home-sec3-tab-para {
				line-height: 1.5;
			}
		}
	}
	&.pr-home-sec-4 {
		.pr-home-common-img-blk {
			max-width: 600px;
			margin-left: auto;
			overflow: visible;
			.pr-home-common-sec-img {
				width: 100%;
				height: auto;
				object-fit: cover;
				cursor: pointer;
			}
		}
	}
	&.pr-home-sec-5 {
		height: 100vh;
		background: linear-gradient(90deg, var(--color-bg-dark-2) 52%, #FFFFFF 48%);
		.pr-home-sec-5-container {
			.pr-row-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.pr-vertical-tabs-content {
			padding-left: 90px;
			@media screen and (max-width: 1599px) {
				padding-left: 40px;
				.pr-vertical-tab-content-ttl {
					font-size: 40px;
    			line-height: 52px;
				}
			}
		}
	}
	&.pr-home-sec-6 {
		.pr-home-common-img-blk {
			max-width: 520px;
			margin-left: auto;
			border-radius: 5px;
			overflow: hidden;
			.pr-home-common-sec-img {
				width: 100%;
				height: auto;
				object-fit: cover;
				cursor: pointer;
			}
		}
	}
	&.pr-home-sec-7 {
		height: 100vh;
		background: linear-gradient(90deg, var(--color-bg-dark-2) 52%, #FFFFFF 48%);
		.pr-home-sec-7-container {
			.pr-row-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.pr-vertical-tabs-content {
			padding-left: 90px;
		}
	}
	&.pr-home-sec-8 {
		background: linear-gradient(90deg, var(--color-bg-dark-2) 50%, #FFFFFF 50%);
	}
	&.pr-home-sec-9 {
		.pr-home-common-img-blk {
			max-width: 520px;
			margin-left: auto;
			border-radius: 5px;
			overflow: hidden;
			.pr-home-common-sec-img {
				width: 100%;
				height: auto;
				object-fit: cover;
				cursor: pointer;
			}
		}
	}
	&.pr-home-sec-10 {
		.awards-scroller-wrap {
			overflow-x: hidden;
			overflow-y: auto;
			.awards-scroller {
				padding: 40px 0 100px;
				.awards-scroller-item {
					box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
					max-width: 300px;
					border-radius: 4px;
					&:nth-child(2n) {
						position: relative;
						top: 45px;
					}
					.awards-img-blk {
						.awards-img {
							max-width: 72px;
							height: auto;
						}
					}
				}
			}
		}
	}
	&.pr-home-sec-11 {
		.pr-home-common-img-blk.home-sec-11 {
			width: 650px;
			img {
				display: block;
				max-width: 600px;
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				object-fit: cover;
			}
		}
	}
	&.pr-home-sec-12 {
		.pr-home-common-img-blk {
			position: relative;
			min-height: 600px;
			.pr-home-common-sec-img {
				position: absolute;
				width: 850px;
				max-width: unset;
				height: auto;
				left: -120px;
			}
		}
		.home-common-sec-heading {
			margin-bottom: 0 !important;
		}
		.flex-button-group {
			margin-top: 0;
		}
	}
	&.pr-home-sec-13 {
		.home-common-sec-heading {
			margin-bottom: 0 !important;
		}
		.flex-button-group {
			margin-top: 0;
		}
		.pr-home-common-img-blk.home-sec-13 {
			width: 650px;
			img {
				display: block;
				max-width: 600px;
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				object-fit: cover;
			}
		}
	}
	@media screen and (max-width: 1599px) {
		&.homepage-common-sec {
			.pr-row-wrapper {
				.home-common-sec-heading {
					font-size: 48px;
    			line-height: 62.4px;
					max-width: 500px;
				}
			}
		}
		&.pr-home-sec-7 {
			.pr-vertical-tabs-ttl {
				position: relative;
				top: 60px;
			}
			.pr-vertical-tabs-menu {
				margin-top: 60px;
			}
		}
		&.pr-home-sec-9 {
			&.homepage-common-sec .pr-row-wrapper .para-18 {
				margin-top: 50px;
			}
			.pr-home-common-img-blk {
				margin-top: 40px;
			}
		}
		&.pr-home-sec-10 {
			.awards-scroller-wrap {
				.awards-scroller {
					grid-column-gap: 30px;
					grid-row-gap: 30px;
					padding-right: 10px;
					.awards-scroller-item {
						width: 260px;
						min-height: 410px;
						max-width: 44%;
						&:nth-child(2n) {
							top: 30px;
						}
						.awards-desc {
							font-size: 14px;
							line-height: 22.6px;
							margin: 0;
						}
					}
				}
			}
		}
		&.pr-home-sec-11 {
			.pr-home-common-img-blk.home-sec-11 {
				width: 500px;
			}
		}
		&.pr-home-sec-12 {
			.pr-home-common-img-blk .pr-home-common-sec-img {
				width: 720px;
				top: 80px;
				left: -140px;
			}
		}
		&.pr-home-sec-13 {
			.pr-home-common-img-blk.home-sec-13 {
				width: 520px;
			}
		}
	}
	@media screen and (max-width: 1199.98px) {
		.pr-intro-heading {
			max-width: 600px;
		}
		.slider-move-outer-wrap .slider-move-top-wrap .slider-move-top {
			max-width: 360px;
			left: -20px;
		}
		&.pr-home-sec-11 .pr-home-common-img-blk.home-sec-11 {
			width: 440px;
		}
		&.pr-home-sec-12 .pr-home-common-img-blk .pr-home-common-sec-img {
			width: 600px;
			top: 130px;
			left: -100px;
		}
		&.pr-home-sec-13 .pr-home-common-img-blk.home-sec-13 {
			width: 450px;
		}
	}
	@media screen and (max-width: 991.98px) {
		&.pr-home-sec-5,
		&.pr-home-sec-7,
		&.pr-home-sec-8 {
			background: var(--color-bg-dark-2);
		}
		&.pr-home-sec-1 {
			.pr-home-sec1-img-blk {
				position: static;
				width: 360px;
				margin-left: auto;
				margin-right: auto;
			}
			.hero-logos-wrapper {
				position: static;
			}
		}
		&.pr-home-sec-2 {
			.comman-card-img-wrap {
				position: static;
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 60px;
				img {
					max-height: 100%;
				}
			}
		}
		&.pr-home-sec-4 {
			.pr-home-common-img-blk {
				max-width: 400px;
				margin: 0 auto 40px;
			}
		}
		&.pr-home-sec-5 {
			height: auto;
			.pr-vertical-tabs {
				overflow: hidden;
				.pr-vertical-tabs-menu {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 40px;
					.pr-vertical-tab-link {
						flex: 1;
						font-size: 18px;
						line-height: 24px;
						margin: 0;
						padding-right: 30px;
					}
				}
			}
			.pr-vertical-tabs-content {
				padding-left: 0;
			}
			.accrodian-wrap {
				.accordian {
					.accordian-header {
						padding: 15px 0;
						color: #FFFFFF;
					}
					.accordian-panel  {
						p {
							margin-bottom: 20px;
							max-width: 560px;
						}
						.pr-bttn {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
		&.pr-home-sec-6 .pr-home-common-img-blk {
			max-width: 440px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
		}
		&.pr-home-sec-7 {
			height: auto;
		}
		&.pr-home-sec-8 {
			background-color: #fff;
			.para-18,
			.home-common-sec-heading {
				color: var(--color-bg-dark-1);
				text-align: center;
			}
			.pr-row-wrapper .home-common-sec-heading {
				text-align: center;
				max-width: 100%;
			}
		}
		&.pr-home-sec-9 .pr-home-common-img-blk {
			max-width: 440px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
		}
		&.pr-home-sec-10 .awards-scroller-wrap {
			max-width: 450px;
			max-height: unset;
			overflow: hidden;
			padding: 0;
			.awards-scroller {
				padding: 25px 0;
				.awards-scroller-item {
					position: static !important;
					top: 0;
					min-height: 360px;
    			max-width: unset;
					margin: 40px 24px;
				}
			}
		}
		&.pr-home-sec-11 .pr-home-common-img-blk.home-sec-11 {
			width: 440px;
			margin: 0 auto 0;
		}
		&.pr-home-sec-12 .pr-home-common-img-blk {
			position: relative;
			min-height: unset;
			margin-bottom: 60px;
			.pr-home-common-sec-img {
				position: relative;
				width: 600px;
				top: 60px;
				left: 0;
			}
		}
		&.pr-home-sec-13 {
			.pr-home-common-img-blk.home-sec-13 img {
				display: none;
			}
			.pr-home-culture-slider {
				display: block;
				.pr-home-culture-slider-main {
					height: 320px;
					margin: 30px auto 40px;
					.pr-home-culture-slider-mask {
						.pr-home-culture-slides {
							.pr-home-culture-slide-img {
								display: block;
								object-fit: cover;
							}
						}
					}
				}
			}
		}
		.mobile-testi-slider-mask {
			border: 0;
			.mobile-testi-slides {
				background: transparent;
				.mobile-testi-slides-inner {
					.mobile-testi-slides-img {
						height: 120px;
						width: 120px;
						margin-bottom: 7px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 767.98px) {
		.flex-button-group.btn-grp {
			justify-content: center;
			gap: 20px;
		}
		&.pr-home-sec-1 {
			.pr-intro-heading {
				text-align: center;
				max-width: 360px;
				margin: 40px auto 20px;
			}
			.pr-row-wrapper .para-24 {
				font-size: 16px;
				line-height: 25px;
				text-align: center;
				margin-bottom: 0;
			}
		}
		&.pr-home-sec-2 {
			.home-sec2-slider-list {
				padding: 0;
			}
			.comman-card-img-wrap {
				max-width: 320px;
				margin-bottom: 40px;
			}
			.pr-slider-wrapper .home-sec2-slider-wrap .home-sec2-slider .comman-card-info .comman-card-top-ul .list-inline-item .slider-txt-1 {
				font-size: 14px;
				line-height: 18px;
			}
			.sec-heading {
				font-size: 28px;
				line-height: 36px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			.p2-lora.sec-para {
				font-size: 20px;
				line-height: 30px
			}
			.pr-slider-wrapper .home-sec2-slider-wrap .home-sec2-slider .slick-dots {
				position: relative;
				left: 10px;
				bottom: 0;
			}
		}
		&.pr-home-sec-3 {
			.home-tab-wrappper {
				position: static;
			}
			.home-sec-3-tabs {
				position: relative;
				left: 0;
				.home-sec-3-tabs-link {
					padding: 9px 15px;
					&.w--current {
						.tab-flex {
							position: relative;
							&::after {
								content: '';
								display: block;
								height: 2px;
								width: 100%;
								top: 30px;
								left: -9px;
								background-color: var(--color-primary);
							}
						}
					}
					.tab-flex {
						&::after {
							display: none;
						}
						img {
							margin-right: 0;
						}
					}
				}
			}
			.home-sec3-tab-content-wrapper {
				padding-left: 0;
			}
			.logo-flex {
				overflow-x: auto;
			}
		}
		&.homepage-common-sec {
			.pr-row-wrapper {
				.para-18 {
					font-size: 14px;
    			line-height: 18.2px;
					margin-bottom: 10px;
				}
				.home-common-sec-heading {
					font-size: 28px;
					line-height: 36.4px;
					font-weight: 600;
					margin: 0;
					max-width: 100%;
				}
				.home-common-sec-para {
					margin-bottom: 12px;
				}
				.pr-article-read p {
					font-size: 14px;
					line-height: 18.2px;
				}
				.flex-button-group {
					justify-content: flex-start;
					margin-top: 20px;
				}
			}
		}
		&.pr-home-sec-4 {
			.flex-button-group {
				justify-content: flex-start;
				margin-top: 20px;
			}
		}
		&.pr-home-sec-5 {
			background-color: var(--color-bg-dark-1);
			padding: 60px 0;
			.custom-acc-col-ttl {
				font-size: 14px;
    		line-height: 18.2px;
			}
			.accrodian-wrap .accordian .accordian-header {
				padding: 10px 0;
			}
		}
		&.pr-home-sec-7 {
			background-color: var(--color-bg-dark-1);
			padding: 60px 0;
			.mobile-what,
			.mobile-testi-slides-ttl,
			.mobile-testi-slides-desc {
				font-size: 14px !important;
    		line-height: 18.2px !important;
				margin-bottom: 10px !important;
			}
			.mobile-testi-slides-p {
				font-size: 14px;
				line-height: 20px;
				text-align: left;
			}
		}
		&.pr-home-sec-9 .pr-home-common-img-blk {
			margin-top: 0;
			margin-bottom: 0;
		}
		
	}
}


// Career 

.career-form {
	label {
		span {
  		font-family: "Lora", serif;
			font-size: 12px;
			font-weight: 400;
			color: #9e9e9e;
		}
	}
}




// Contact Form

.contact-form-block {
	position: relative;
}
.contact-form-block .contact_form .contact_step-wrapper .form-checkbox-field input {
	position: absolute;
}
@media (max-width: 992px) {
	.pr-section-padding.career-sec-9 {
		height: auto;
	}
}
@media (max-width: 767.98px) {
	.pr-content-box-1-ttl.slide-in-bottom {
		font-size: 28px;
    line-height: 36.4px;
    font-weight: 600;
		margin-bottom: 40px;
	}
}



// About Page

.about-section10 {
	.our-leaders {
		.leaders-col {
			.leader-image {
				position: relative;
				height: 380px;
				width: 100%;
				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}