// All Portfolios CSS

.aaloch-s-1.smart3602.smart-sec-2 {
  background-repeat: no-repeat;
  background-size: 1255px auto;
  background-position-x: 200px;
  background-position-y: 140px;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 1200px) {
  .smart-sec-1 .smart-360-div {
    padding-left: 60px !important;
  }

  .smart-sec-3 .white-bg.insisive3 {
    justify-content: center !important;
  }

  .cus-container {
    max-width: 100%;
    padding: 0 30px;
  }

  .insisive1 {
    margin-top: 20px;
  }

  .aaloch-s-1.smart3601 .heading-24 {
    font-size: 48px;
    line-height: 1.3;
  }

  .vimson-sec4.smart3606 .w-layout-blockcontainer.cus-container.w-container {
    width: 100%;
  }

  section.aaloch-s-1.smart3601 {
    height: auto;
    padding: 50px 0;
  }

  section.aaloch-s-1.smart3601 .w-col.w-col-6 {
    height: auto;
  }

  section.aaloch-s-1.smart3601 .w-row {
    display: flex;
  }

  .aaloch-s-1.smart3602 {
    height: auto;
  }

  .aaloch-s-1.smart3602 .w-col.w-col-6 {
    height: auto;
  }

  .aaloch-s-1.smart3602 .w-row {
    display: flex;
  }

  section.side-bt-side-content.vimson-sec3 .white-bg.insisive3.w-col.w-col-6 {
    height: auto;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }

  section.side-bt-side-content.vimson-sec3 .blue-bg.other-blue.nav-blu.w-col.w-col-6 {
    height: auto;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .vimson-sec1 {
    height: auto;
    padding: 100px 0;
  }

  .vimson-sec2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .vimson-sec2 .paragraph-17 {
    font-size: 16px;
  }

  .vimson-sec2.vigan.smartlink {
    height: auto;
    background-size: cover;
  }

  .side-bt-side-content .blue-bg {
    padding: 100px 50px;
    height: auto;
  }

  .side-bt-side-content .white-bg {
    padding: 100px 50px;
    height: auto;
  }

  .side-bt-side-content .paragraph-18 {
    font-size: 16px;
  }

  .vimson-sec4 {
    padding-left: 40px;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px
  }

  .vimson-sec4 .paragraph-18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .vigan-s4.smart360-9 .box-content-white.max50 {
    max-width: 100%;
    padding-right: 0;
    position: relative;
  }

  .vigan-s4.smart360-9 {
    position: relative;
  }

  .vigan-s4.smart360-9::before {
    content: '';
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
  }

  .vigan-s4.smart360-9 .box-content-white.max50 .heading-26,
  .vigan-s4.smart360-9 .box-content-white.max50 p {
    color: #fff !important;
  }

  .aaloch-s-1.smart3601 .heading-24 {
    font-size: 38px;
  }

  .smart360-5 {
    background-position: center;
  }
}

@media screen and (max-width: 767px) {
  .vimson-sec1 {
    height: auto;
    margin: 0;
    padding: 50px 10px;
  }

  .vimson-sec1 .banner-full-title {
    font-size: 38px;
    line-height: normal;
  }

  .vimson-sec2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .vimson-sec2 .heading-25 {
    font-size: 28px;
  }

  .side-bt-side-content .heading-26 {
    font-size: 28px;
  }

  .side-bt-side-content .white-bg {
    padding: 40px;
  }

  .side-bt-side-content .blue-bg {
    padding: 40px;
  }

  .vimson-sec4.smartlink4 {
    background-image: none;
  }

  .vimson-sec4 .heading-26 br {
    display: none;
  }

  .vimson-sec4 .heading-26 {
    font-size: 28px;
  }

  .vimson-sec4 .box-content-white {
    max-width: 100%;
  }

  section.aaloch-s-1.smart3601 .w-row {
    display: block;
  }

  section.aaloch-s-1.smart3601 .w-col.w-col-6 {
    justify-content: left;
    padding: 0;
  }

  section.aaloch-s-1.smart3601 .w-col.w-col-6 {
    padding: 0;
    width: 100%;
  }

  .aaloch-s-1.smart3602 .w-row {
    display: grid;
  }

  .aaloch-s-1.smart3602 .w-col.w-col-6 {
    padding: 0;
    order: 2;
  }

  .aaloch-s-1.smart3602 .bottom-image.center.w-col.w-col-6 {
    order: 1;
  }

  .aaloch-s-1.smart3602 {
    padding-top: 30px;
  }

  .vimson-sec4.smart3606 .w-layout-blockcontainer.cus-container.w-container {
    padding: 0;
  }

  .vimson-sec4 .box-content-white {
    max-width: 50%;
  }

  .vimson-sec5.remove-bg .cus-flexx.w-row {
    display: grid;
  }

  .vimson-sec5.remove-bg .cus-flexx.w-row img {
    width: 100%;
  }

  .vimson-sec5.remove-bg .w-col.w-col-6 {
    padding: 0;
  }

  .vimson-sec5.remove-bg {
    padding: 50px 0;
  }

  .vigan-s4.smart360-9 {
    height: auto;
    padding: 50px 0;
  }

  .box-content-white.max40 {
    max-width: 65%;
  }
}

@media screen and (max-width: 1940px) {
  .heading-24 {
    font-size: 70px;
    font-weight: 700;
    line-height: 88px;
    margin-top: 0;

  }

  .aaloch-s-1 {
    margin-top: 0;
  }

  .paragraph-16.black {
    padding-bottom: 25px;
  }

  .width100 {
    width: 100%;
  }

  .heading-26 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }

  .bottom-image.center .box-content-white {
    max-width: 450px;
    margin-left: 80px;
  }

  .white-bg.insisive3 .box-content-white {
    max-width: 450px;
    margin-left: 220px;
  }

  .blue-bg.other-blue.nav-blu .box-content-white {
    max-width: 450px;
  }

  .single-image .cus-container {
    max-width: 1500px !important;
  }

  .single-image {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .concerro-6 .paragraph-18 {
    padding-bottom: 90px;
  }

  .white-heading-center {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .concerro-6 {
    padding-top: 100px;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    margin-bottom: 30px;
  }

  .vigan-s4.smart360-9 .heading-26 {
    margin-bottom: 15px;
  }

  .blue-bg.other-blue.nav-blu {
    background-color: #24264C;
  }

  .vimson-sec4 {
    height: 100vh;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    color: #717171;
  }

  .box-content-white.max50 {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .cus-container {
    max-width: 1260px !important;
  }

  .heading-24 {
    padding: 0 5px;
  }

  .paragraph-16.black {
    padding: 0 5px;
    padding-bottom: 25px;
  }

  .white-bg.insisive3 .box-content-white {
    margin-left: 40px;
  }

  .vimson-sec4.smart3606 .box-content-white.max50 {
    max-width: 450px;
    padding-right: 0px;

  }

  .vimson-sec5 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .vimson-sec5-img {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .smart-sec-1 .smart-360-div {
    width: 100%
  }

  .smart-sec-3 .white-bg.insisive3 .box-content-white {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1440px) {
  .concerro-6.smart360-7.smart-sec-7 {
    height: auto !important;
  }

  .smart-sec-7 .white-heading-center {
    padding-top: 0 !important;
  }

  .heading-24 {
    font-size: 54px;
    line-height: 72.8px;

  }

  .smart-sec-1 .smart-360-div {
    padding-left: 150px;
  }

  .smart-sec-3 .white-bg.insisive3 {
    justify-content: start;
    padding-left: 160px;
  }

  .smart360-5 {
    background-position-x: 40%;
    background-position-y: 20%;
    background-size: contain;
    margin-top: 0px;
  }

  .vimson-sec4.smart-sec-6 {
    height: 85vh;
    background-size: cover, 55%;
  }

  .smart-sec-7 .white-heading-center {
    font-size: 40px;
    line-height: 52px;
    padding-top: 150px;
  }

  .concerro-6 .paragraph-18 {
    padding-bottom: 30px !important;
  }

  .concerro-6.smart-sec-7 {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .concerro-6.smart360-7 img {
    width: 65%;
    max-width: none !important;
  }

  .smart-sec-3 .white-bg.insisive3 .box-content-white {
    margin-left: 0px !important;
  }

  .single-image.smart-sec-4 .cus-container {
    max-width: 1200px !important;
  }

  .cus-container {
    max-width: 1100px !important;
  }

  .image-60 {
    width: 80%;
  }

  .width100 {
    max-width: 450px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
  }

  .white-bg {
    padding-right: 0;
  }

  .heading-26 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .single-image .cus-container {
    max-width: 1080px !important;
  }

  .concerro-6.smart360-7 img {
    max-width: 860px;
  }

}

@media screen and (max-width: 1200px) {
  .bottom-image.center .box-content-white {
    margin-left: 0px;
  }

  .white-bg {
    padding-left: 20px;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 45px;
  }

  .bottom-image.center,
  .bottom-image.cevter {
    justify-content: flex-start;
  }

  .single-image {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .smart360-5 {
    background-position: center;
    margin-top: 0;
  }

  .vimson-sec4 {
    background-size: auto;
  }

  .white-heading-center {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .concerro-6.smart360-7 img {
    max-width: 920px;
  }

  .vimson-sec5-cont .paragraph-18.black-pera {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .cus-container {
    max-width: 960px !important;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 0px;
  }

  .side-bt-side-content .white-bg {
    padding: 100px 0px;
  }
}

@media screen and (max-width: 1940px) {
  .heading-24 {
    font-size: 70px;
    font-weight: 700;
    line-height: 88px;
    margin-top: 0;

  }

  .aaloch-s-1 {
    margin-top: 0;
  }

  .paragraph-16.black {
    padding-bottom: 25px;
  }

  .width100 {
    width: 100%;
  }

  .heading-26 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }

  .bottom-image.center .box-content-white {
    max-width: 450px;
    margin-left: 80px;
  }

  .white-bg.insisive3 .box-content-white {
    max-width: 450px;
    margin-left: 220px;
  }

  .blue-bg.other-blue.nav-blu .box-content-white {
    max-width: 450px;
  }

  .single-image .cus-container {
    max-width: 1400px !important;
  }

  .single-image {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .concerro-6 .paragraph-18 {
    padding-bottom: 90px;
  }

  .white-heading-center {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .concerro-6 {
    padding-top: 100px;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    margin-bottom: 30px;
  }

  .vigan-s4.smart360-9 .heading-26 {
    margin-bottom: 15px;
  }

  .blue-bg.other-blue.nav-blu {
    background-color: #24264C;
    height: 100vh;
  }

  .vimson-sec4 {
    height: 100vh;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    color: #717171;
  }

  .box-content-white.max50 {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .cus-container {
    max-width: 1260px !important;
  }

  .heading-24 {
    padding: 0 5px;
  }

  .paragraph-16.black {
    padding: 0 5px;
    padding-bottom: 25px;
  }

  .white-bg.insisive3 .box-content-white {
    margin-left: 40px;
  }

  .vimson-sec4.smart3606 .box-content-white.max50 {
    max-width: 450px;
    padding-right: 0px;

  }

  .vimson-sec5 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .vimson-sec5-img {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1440px) {
  .heading-24 {
    font-size: 54px;
    line-height: 72.8px;

  }

  .cus-container {
    max-width: 1100px !important;
  }

  .width100 {
    max-width: 450px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
  }

  .white-bg {
    padding-right: 0;
  }

  .heading-26 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .single-image .cus-container {
    max-width: 1080px !important;
  }

  .concerro-6.smart360-7 img {
    max-width: 860px;
  }

}

@media screen and (max-width: 1200px) {
  .bottom-image.center .box-content-white {
    margin-left: 0px;
  }

  .white-bg {
    padding-left: 20px;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 45px;
  }

  .bottom-image.center,
  .bottom-image.cevter {
    justify-content: flex-start;
  }

  .single-image {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .smart360-5 {
    background-position: center;
    margin-top: 0;
  }

  .vimson-sec4 {
    background-size: auto;
  }

  .white-heading-center {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .concerro-6.smart360-7 img {
    max-width: 920px;
  }

  .vimson-sec5-cont .paragraph-18.black-pera {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .cus-container {
    max-width: 960px !important;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 0px;
  }

  .side-bt-side-content .white-bg {
    padding: 100px 0px;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .blue-bg.other-blue.nav-blu {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .vimson-sec4 {
    background-size: 50%;
  }

  .vimson-sec4 {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .side-bt-side-content .paragraph-18 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 767px) {
  .column-5 {
    height: auto;
    padding-top: 50px !important;
  }

  .bottom-image {
    height: auto;
  }

  .heading-24 {
    font-size: 30px !important;
    font-weight: 700;
    line-height: 39px !important;
  }

  .bottom-image.center .box-content-white {
    max-width: 100% !important;
  }

  .heading-26 {
    font-size: 26px;
  }

  .paragraph-18 {
    font-size: 14px;
    line-height: 19px;
  }

  .side-bt-side-content .white-bg {
    padding: 20px 0px;
    height: auto;
  }

  .blue-bg.other-blue.nav-blu {
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .blue-bg.other-blue.nav-blu .box-content-white {
    max-width: 100%;
    padding: 0 20px;
  }

  .white-bg.insisive3 .box-content-white {
    max-width: 100%;
    padding: 0 20px;
  }

  .side-bt-side-content .paragraph-18 {
    font-size: 14px !important;
  }

  .single-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vimson-sec4 {
    height: 50vh;
  }

  .concerro-6.smart360-7 img {
    max-width: 100%
  }
}

@media screen and (max-width: 1940px) {
  .heading-24 {
    font-size: 70px;
    font-weight: 700;
    line-height: 88px;
    margin-top: 0;

  }

  .concerro-6.smart360-7.smart-sec-7 {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1255px auto;
    background-position-x: 200px;
    background-position-y: 140px;
  }

  .vimson-sec5.remove-bg.smart-sec-8 {
    background-repeat: no-repeat;
    background-size: 1255px auto;
    background-position-x: 200px;
    background-position-y: 140px;
    background-color: rgb(234, 235, 244);
  }

  .smart-sec-3 .white-bg.insisive3 .box-content-white {
    margin-left: 200px;
  }

  .smart-sec-6 .box-content-white.max50,
  .smart-sec-9 .box-content-white.max50 {
    padding-left: 0px;
  }

  .smart360-1.smart-sec-1,
  .aaloch-s-1.smart3602.smart-sec-2,
  .side-bt-side-content.vimson-sec3.smart-sec-3,
  .single-image.smart-sec-4 {
    background-repeat: no-repeat;
    background-size: 1255px auto;
    background-position-x: 200px;
    background-position-y: 140px;
  }

  .smart-sec-3 .heading-26 {
    margin-bottom: 15px;
  }

  .single-image.smart-sec-4 .cus-container {
    max-width: 1500px;
  }

  .smart-sec-7 img {
    width: 80%;
  }

  .aaloch-s-1 {
    margin-top: 0;
  }

  .paragraph-16.black {
    padding-bottom: 25px;
  }

  .width100 {
    width: 100%;
  }

  .heading-26 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }

  .bottom-image.center .box-content-white {
    max-width: 450px;
    margin-left: 80px;
  }

  .white-bg.insisive3 .box-content-white {
    max-width: 450px;
    margin-left: 220px;
  }

  .blue-bg.other-blue.nav-blu .box-content-white {
    max-width: 450px;
  }

  .single-image .cus-container {
    max-width: 1400px !important;
  }

  .single-image {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .concerro-6 .paragraph-18 {
    padding-bottom: 90px;
  }

  .white-heading-center {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .concerro-6 {
    padding-top: 100px;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    margin-bottom: 30px;
  }

  .vigan-s4.smart360-9 .heading-26 {
    margin-bottom: 15px;
  }

  .blue-bg.other-blue.nav-blu {
    background-color: #24264C;
  }

  .vimson-sec4 {
    height: 100vh;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    color: #717171;
  }

  .box-content-white.max50 {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .cus-container {
    max-width: 1260px !important;
  }

  .heading-24 {
    padding: 0 5px;
  }

  .paragraph-16.black {
    padding: 0 5px;
    padding-bottom: 25px;
  }

  .white-bg.insisive3 .box-content-white {
    margin-left: 40px;
  }

  .vimson-sec4.smart3606 .box-content-white.max50 {
    max-width: 450px;
    padding-right: 0px;

  }

  .vimson-sec5 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .vimson-sec5-img {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1440px) {
  .heading-24 {
    font-size: 54px;
    line-height: 72.8px;

  }

  .cus-container {
    max-width: 1100px !important;
  }

  .width100 {
    max-width: 450px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
  }

  .white-bg {
    padding-right: 0;
  }

  .heading-26 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .single-image .cus-container {
    max-width: 1080px !important;
  }

  .concerro-6.smart360-7 img {
    max-width: 860px;
  }

}

@media screen and (max-width: 1200px) {
  .bottom-image.center .box-content-white {
    margin-left: 0px;
  }

  .white-bg {
    padding-left: 20px;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 45px;
  }

  .bottom-image.center,
  .bottom-image.cevter {
    justify-content: flex-start;
  }

  .single-image {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .smart360-5 {
    background-position: center;
    margin-top: 0;
  }

  .vimson-sec4 {
    background-size: auto;
  }

  .white-heading-center {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .concerro-6.smart360-7 img {
    max-width: 920px;
  }

  .vimson-sec5-cont .paragraph-18.black-pera {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .cus-container {
    max-width: 960px !important;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 0px;
  }

  .side-bt-side-content .white-bg {
    padding: 100px 0px;
  }
}

@media screen and (max-width: 1940px) {
  .heading-24 {
    font-size: 70px;
    font-weight: 700;
    line-height: 88px;
    margin-top: 0;

  }

  .aaloch-s-1 {
    margin-top: 0;
  }

  .paragraph-16.black {
    padding-bottom: 25px;
  }

  .width100 {
    width: 100%;
  }

  .heading-26 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }

  .bottom-image.center .box-content-white {
    max-width: 450px;
    margin-left: 80px;
  }

  .white-bg.insisive3 .box-content-white {
    max-width: 450px;
    margin-left: 220px;
  }

  .blue-bg.other-blue.nav-blu .box-content-white {
    max-width: 450px;
  }

  .single-image .cus-container {
    max-width: 1400px !important;
  }

  .single-image {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .concerro-6 .paragraph-18 {
    padding-bottom: 90px;
  }

  .white-heading-center {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
  }

  .concerro-6 {
    padding-top: 100px;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    margin-bottom: 30px;
  }

  .vigan-s4.smart360-9 .heading-26 {
    margin-bottom: 15px;
  }

  .blue-bg.other-blue.nav-blu {
    background-color: #24264C;
    height: 100vh;
  }

  .vimson-sec4 {
    height: 100vh;
  }

  .vigan-s4.smart360-9 .paragraph-18 {
    color: #717171;
  }

  .box-content-white.max50 {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .cus-container {
    max-width: 1260px !important;
  }

  .heading-24 {
    padding: 0 5px;
  }

  .paragraph-16.black {
    padding: 0 5px;
    padding-bottom: 25px;
  }

  .white-bg.insisive3 .box-content-white {
    margin-left: 40px;
  }

  .vimson-sec4.smart3606 .box-content-white.max50 {
    max-width: 450px;
    padding-right: 0px;

  }

  .vimson-sec5 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .vimson-sec5-img {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1440px) {
  .heading-24 {
    font-size: 54px;
    line-height: 72.8px;

  }

  .cus-container {
    max-width: 1100px !important;
  }

  .width100 {
    max-width: 450px;
  }

  .paragraph-18 {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
  }

  .white-bg {
    padding-right: 0;
  }

  .heading-26 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .single-image .cus-container {
    max-width: 1080px !important;
  }

  .concerro-6.smart360-7 img {
    max-width: 860px;
  }

}

@media screen and (max-width: 1200px) {
  .bottom-image.center .box-content-white {
    margin-left: 0px;
  }

  .white-bg {
    padding-left: 20px;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 45px;
  }

  .bottom-image.center,
  .bottom-image.cevter {
    justify-content: flex-start;
  }

  .single-image {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .smart360-5 {
    background-position: center;
    margin-top: 0;
  }

  .vimson-sec4 {
    background-size: auto;
  }

  .white-heading-center {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .concerro-6.smart360-7 img {
    max-width: 920px;
  }

  .vimson-sec5-cont .paragraph-18.black-pera {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .cus-container {
    max-width: 960px !important;
  }

  .heading-24 {
    padding: 0 8px;
    padding-right: 0px;
  }

  .side-bt-side-content .white-bg {
    padding: 100px 0px;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .blue-bg.other-blue.nav-blu {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .vimson-sec4 {
    background-size: 50%;
  }

  .vimson-sec4 {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .side-bt-side-content .paragraph-18 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 767px) {
  .column-5 {
    height: auto;
    padding-top: 50px !important;
  }


  .bottom-image {
    height: auto;
  }

  .heading-24 {
    font-size: 30px !important;
    font-weight: 700;
    line-height: 39px !important;
  }

  .bottom-image.center .box-content-white {
    max-width: 100% !important;
  }

  .heading-26 {
    font-size: 26px;
  }

  .paragraph-18 {
    font-size: 14px;
    line-height: 19px;
  }

  .side-bt-side-content .white-bg {
    padding: 20px 0px;
    height: auto;
  }

  .blue-bg.other-blue.nav-blu {
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .blue-bg.other-blue.nav-blu .box-content-white {
    max-width: 100%;
    padding: 0 20px;
  }

  .white-bg.insisive3 .box-content-white {
    max-width: 100%;
    padding: 0 20px;
  }

  .side-bt-side-content .paragraph-18 {
    font-size: 14px !important;
  }

  .single-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vimson-sec4 {
    height: 50vh;
  }

  .concerro-6.smart360-7 img {
    max-width: 100%
  }
}



@media screen and (max-width: 767px) {
  .smart360-1.smart-sec-1 {
    display: none;
  }

  .smart-sec-01 {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .smart-sec-01 .paragraph-16 {
    font-size: 14px;
    line-height: 19px;
  }

  .smart-sec-2 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  .smart-sec-3 .white-bg.insisive3 .box-content-white,
  .blue-bg.other-blue.nav-blu .box-content-white {
    max-width: 100%;
    padding: 0 0px;
  }

  .smart-sec-3.side-bt-side-content.vimson-sec3 .white-bg.insisive3.w-col.w-col-6,
  .smart-sec-3.side-bt-side-content.vimson-sec3 .blue-bg.other-blue.nav-blu.w-col.w-col-6 {
    padding-left: 35px;
  }

  .single-image.smart-sec-4 {
    height: 40vh;
  }

  .smart-sec-5 {
    display: none;
  }

  .smart-sec-6 {
    display: none;
  }

  .concerro-6.smart360-7.smart-sec-7 {
    height: auto;
    padding: 50px 0;
  }

  .concerro-6.smart360-7 img {
    width: 100%;
  }

  .smart-sec-7 .white-heading-center {
    font-size: 26px;
    line-height: 34px;
    padding-top: 20px;
  }

  .smart-sec-8 .vimson-sec5-img {
    height: auto;
    padding-top: 20px !important;
  }

  .smart-sec-3 .heading-26 {
    font-size: 26px;
  }

  .smart-sec-2 .bottom-image.center .box-content-white {
    padding-left: 10px;
  }

  .smart-sec-8 .box-content-white {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {

  .smart-sec-10 .heading-23 {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1199px) {
  .smart-sec-1 .smart-360-div {
    padding-left: 40px;
  }

  .vimson-sec4.smart3606.smart-sec-6 {
    padding-left: 0;
  }

  .smart-sec-3.side-bt-side-content.vimson-sec3 .white-bg.insisive3.w-col.w-col-6 {
    padding-left: 60px;
    padding-right: 50px;
    height: 100vh;
  }

  .smart-sec-3.side-bt-side-content.vimson-sec3 .blue-bg.other-blue.nav-blu.w-col.w-col-6 {
    height: 100vh;
  }

  .smart-sec-2.aaloch-s-1.smart3602 .w-col.w-col-6 {
    height: 100vh;
  }

  .smart-sec-1 .heading-24 {
    padding-right: 30px;
  }
}




// Smart 360
.portfolio-page {
  &.smart360 {

  }
}


// Authentick

.portfolio-page {
  &.authntick {
    .insisive1.authntick1 img.right-img {
      transform: translateY(-50%);
    }
    .insisive4.insisive5.authntick7 {
      position: relative;
    }
    .insisive4.insisive5.authntick7::before {
      content: '';
      background: #d2143a;
      width: 28.8%;
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
    }

    .swiper {
      background: linear-gradient(to top, rgb(210, 20, 58) 30%, rgba(51, 51, 51, 0) 30%);
    }

    @media screen and (max-width: 1200px) {
      .cus-container {
        max-width: 100%;
        padding: 0 30px;
      }

      .insisive1.authntick1 {
        margin-top: 20px;
      }
    }

    @media screen and (max-width: 1024px) {
      .side-bt-side-content.vimson-sec3.authntick3 .white-bg.insisive3.authntick-l-col {
        padding: 50px 40px 50px 40px;
        height: auto;
      }

      .side-bt-side-content.vimson-sec3.authntick3 .blue-bg.other-blue.nav-blu.authntick-r-col.w-col.w-col-6 {
        padding: 50px 40px 50px 40px;
        height: auto;
      }

      .box-content-white.he-450 {
        max-height: unset;
      }
    }

    @media screen and (max-width: 991px) {
      .insisive1.authntick1 img.right-img {
        width: 100%;
        max-width: 40%;
      }

      .insisive-cin-wrapper .heading-24.mb0 {
        font-size: 42px;
        line-height: 1.3;
      }
    }

    @media screen and (max-width: 767px) {
      .side-bt-side-content.vimson-sec3.authntick3 .white-bg.insisive3.authntick-l-col {
        padding: 50px 40px 50px 40px;
        height: auto;
      }

      .side-bt-side-content.vimson-sec3.authntick3 .blue-bg.other-blue.nav-blu.authntick-r-col.w-col.w-col-6 {
        padding: 50px 40px 50px 40px;
        height: auto;
      }

      .box-content-white.he-450 {
        max-height: unset;
      }

      .insisive1.authntick1 img.right-img {
        width: 100%;
        max-width: 40%;
      }

      .insisive-cin-wrapper .heading-24.mb0 {
        font-size: 42px;
        line-height: 1.3;
      }

      .insisive-content {
        height: auto;
      }

      .insisive1.authntick1 img.right-img {
        position: relative;
        max-width: 100%;
        transform: unset;
      }

      .insisive1.authntick1 {
        height: auto;
        padding: 50px 0 30px;
      }

      .vimson-sec2.vigan.smartlink.insisive.authntick2 {
        height: auto;
        padding: 50px 0;
      }

      .vimson-sec5.authntick4 .cus-flexx.w-row {
        display: block;
      }

      .vimson-sec5.authntick4 .cus-flexx.w-row img {
        width: 100%;
        margin-top: 30px;
      }

      .vimson-sec5.authntick4 {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .authntick6 {
        padding-top: 70px;
        padding-bottom: 50px;
      }

      .insisive4.insisive5.authntick7 .insisive5-row.w-row {
        display: grid;
      }

      .insisive4.insisive5.authntick7 .insisive5-row.w-row .insisive5-img.w-col.w-col-6 {
        order: 2;
      }

      .insisive4.insisive5.authntick7 .insisive5-row.w-row .insisive5-img.w-col.w-col-6 img.insisive5-img-img {
        width: 100%;
      }

      .work-testimonial {
        padding: 50px 0;
      }

      .next-article .heading-23 br {
        display: none;
      }

      .insisive4.insisive5.authntick7::before {
        width: 50%;
      }

      .heading-25.white {
        font-size: 32px;
        line-height: normal;
      }

      .heading-26.black-font {
        font-size: 32px;
        line-height: normal;
      }

      .heading-26 {
        font-size: 32px;
        line-height: normal;
      }

      .heading-25 {
        font-size: 32px;
        line-height: normal;
      }
    }

    @media screen and (max-width: 1940px) {
      .insisive1 authntick1 {
        margin: 0;
      }

      .right-img {
        top: 50%;
        max-width: 45%;
      }

      .heading-24 {
        font-size: 70px;
        line-height: 88px;
        max-width: 90%;
      }

      .content-block-flex {
        margin: 0 auto;
      }

      .heading-25 {
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
      }

      .paragraph-17 {
        font-size: 20px;
        line-height: 30px;
      }

      .white-bg.insisive3 .box-content-white {
        max-width: 450px;
        margin-left: 220px;
      }

      .blue-bg.other-blue.nav-blu .box-content-white {
        max-width: 450px;
      }

      .heading-26 {
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
      }

      .white-bg {
        align-items: center;
      }

      .blue-bg.other-blue {
        align-items: center;
      }

      .list-item-6 {
        line-height: 30px;
        margin: 0
      }

      .center-content img {
        max-width: 80%;
      }

      .authntick6 {
        padding-top: 140px;
        padding-bottom: 140px;
      }

      .vimson-sec5.authntick4.authntick6 .cus-container {
        max-width: 1600px !important;
      }

      .vimson-sec5.authntick4.authntick6 .box-content-white {
        max-width: 450px;
        margin: 0 auto;
      }

      .insisive4.insisive5 {
        height: 100vh;
      }

      .insisive5-row {
        height: 100vh;
      }

      .insisive4.insisive5.authntick7 .cus-container {
        max-width: 1400px !important;
      }

      .insisive5-cont {
        max-width: 450px
      }

      .port-slidret img {
        max-width: 100%;
      }

      .work-testimonial {
        padding: 0;
      }

      .testimovial {
        height: 100vh;
        justify-content: center;
        align-content: center;
      }

      .cust-pera-list::before,
      ul.custom-list li::before {
        width: 6px;
        height: 6px;
        background: #D2143A;
        top: 15px;
      }
    }

    @media screen and (max-width: 1600px) {
      .cus-container {
        max-width: 1260px !important;
      }

      .right-img {
        top: 100px;
        max-width: 55%;
      }

      .heading-24.mb0 {
        padding-left: 15px;
      }

      .white-bg.insisive3 .box-content-white {
        max-width: 450px;
        margin-left: 40px;
      }

      .vimson-sec5 {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }

    @media screen and (max-width: 1440px) {
      .cus-container {
        max-width: 1100px !important;
      }

      .heading-24 {
        font-size: 54px;
        line-height: 73px;
      }

      .insisive-cin-wrapper {
        width: 500px
      }

      .right-img {
        top: 150px;
        max-width: 45%;
      }

      .paragraph-16 {
        padding-left: 15px;
      }

      .heading-25 {
        font-size: 40px;
        line-height: 52px;
      }

      .content-block-flex {
        max-width: 700px;
      }

      .heading-26 {
        font-size: 40px;
        line-height: 52px;
        padding-bottom: 20px;
      }

      .vimson-sec5.authntick4 {
        padding-top: 120px;
        padding-bottom: 120px;
      }

      .vimson-sec5.authntick4.authntick6 .box-content-white .heading-26.black-font {
        padding-left: 50px;
      }

      .insisive5-row {
        margin-left: 100px !important;
      }
    }

    @media screen and (max-width: 1200px) {
      .cus-container {
        padding: 0;
      }

      .right-img {
        top: 180px;
        max-width: 55%;
      }

      .white-bg {
        padding-left: 40px;
        padding-right: 100px;
        height: auto;
        padding-bottom: 40px;
      }

      .blue-bg {
        height: auto;
        padding-bottom: 40px;
      }

      .vimson-sec5.authntick4 .paragraph-18 {
        padding-right: 80px;
      }
    }

    @media screen and (max-width: 1024px) {

      .content-block-flex.center-content,
      .content-block-flex.w100 {
        max-width: 75%;
      }

      .insisive5-row {
        margin-left: 10px !important;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      .cus-container {
        max-width: 960px !important;
      }

      .side-bt-side-content.vimson-sec3.authntick3 .white-bg.insisive3.authntick-l-col {
        padding: 50px 40px 80px 0px;
        height: auto;
      }

    }

    @media screen and (max-width: 767px) {
      .right-img {
        top: 0;
        max-width: 100%;
      }

      .insisive-cin-wrapper {
        width: 100%;
        padding-top: 80px
      }

      .insisive-cin-wrapper .heading-24.mb0 {
        font-size: 30px;
        line-height: 39px;
      }

      .heading-25.white {
        font-size: 26px;
        line-height: normal;
      }

      .paragraph-17 {
        font-size: 14px;
        line-height: 19px;
      }

      .heading-26 {
        font-size: 26px;
        line-height: normal;
      }

      .list-item-6 {
        font-size: 14px;
        line-height: 19px;
      }

      .white-bg.insisive3 .box-content-white {
        max-width: 100%;
        margin-left: 40px;
      }

      .blue-bg.other-blue.nav-blu .box-content-white {
        max-width: 100%;
        margin-left: 40px;
      }

      .cust-pera-list::before,
      ul.custom-list li::before {
        width: 5px;
        height: 5px;
        top: 5px;
      }

      .cust-pera-list,
      ul.custom-list li {
        position: relative;
        padding-left: 20px;
      }

      .side-bt-side-content.vimson-sec3.authntick3 .blue-bg.other-blue.nav-blu.authntick-r-col.w-col.w-col-6 {
        padding: 50px 40px 50px 0px;
        height: auto;
      }

      .vimson-sec5.authntick4 {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .authntick6 {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .vimson-sec5.authntick4.authntick6 .box-content-white {
        max-width: 100%;
        margin-left: 40px;
      }

      .vimson-sec5.authntick4.authntick6 .box-content-white .heading-26.black-font {
        padding-left: 0px;
      }

      .vimson-sec5.authntick4 .cus-flexx.w-row img {
        width: 100%;
        margin-top: 0px;
      }

      .heading-26 {
        padding-bottom: 0;
      }

      .insisive4.insisive5.authntick7::before {
        display: none;
      }

      .insisive5-cont {
        width: 100%;
        max-width: 100%;
        margin-left: 40px;
        display: block;
        padding-left: 0px;

      }

      .heading-partt {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0;
      }

      .heading-25 {
        font-size: 26px;
        line-height: 34px;
        margin: 10px 0;
      }

      .testimovial {
        height: auto;
        padding: 50px 0;
      }

      .heading-26.black-font {
        font-size: 26px;
        line-height: normal;
      }
    }

    @media screen and (max-width: 1920px) {
      .auth-sec-3 .white-bg.insisive3 .box-content-white {
        margin-left: 200px;
      }

      .auth-sec-3 .white-bg.insisive3 {
        background-image: none;
      }

      .auth-sec-6.vimson-sec5.authntick4.authntick6 .box-content-white {
        max-width: 450px;
        margin-left: 200px;
      }

      .auth-sec-4,
      .auth-sec-5,
      .auth-sec-6 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center
      }

      .auth-sec-5 .new-img {
        width: 100%;
      }

      .auth-sec-8 {
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: end;
      }
    }

    @media screen and (max-width: 1600px) {
      .auth-sec-1 .heading-24.mb0 {
        padding-left: 0px;
      }

      .auth-sec-1 {
        background-position: 0;
      }

      .auth-sec-3 .white-bg.insisive3 .box-content-white {
        margin-left: 0px;
      }
    }

    @media screen and (max-width: 1440px) {
      .auth-sec-3 .white-bg.insisive3 .box-content-white {
        margin-left: 35px;
      }

      .auth-sec-6.vimson-sec5.authntick4.authntick6 .box-content-white .heading-26.black-font {
        padding-left: 0px;
      }

      .auth-sec-6.vimson-sec5.authntick4.authntick6 .box-content-white {
        max-width: 450px;
        margin-left: 170px;
      }
    }

    @media screen and (max-width : 1200px) {
      .auth-sec-3 .white-bg.insisive3 .box-content-white {
        margin-left: 10px;
      }

      .auth-sec-6.vimson-sec5.authntick4.authntick6 .box-content-white {
        max-width: 450px;
        margin-left: 45px;
      }

      .auth-sec-6 .vimson-sec5-img {
        width: 95%;
      }

      .auth-sec-7 .insisive5-row {
        margin-left: 0px !important;
      }

      .auth-sec-3 .white-bg,
      .auth-sec-3 .blue-bg {
        height: 100vh
      }

    }

    @media screen and (max-width: 1024px) {
      .auth-sec-3.side-bt-side-content.vimson-sec3.authntick3 .white-bg.insisive3.authntick-l-col {
        padding: 50px 40px 80px 0px;
        height: 100vh;
      }

      .auth-sec-3.side-bt-side-content.vimson-sec3.authntick3 .blue-bg.other-blue.nav-blu.authntick-r-col.w-col.w-col-6 {
        padding: 50px 40px 50px 40px;
        height: 100vh;
      }

      .auth-sec-3 .white-bg.insisive3 .box-content-white {
        margin-left: 35px;
      }
    }

    @media screen and (max-width: 767px) {
      .auth-sec-3.side-bt-side-content.vimson-sec3.authntick3 .white-bg.insisive3.authntick-l-col {
        height: auto;
        padding-bottom: 50px;
      }

      .auth-sec-3.side-bt-side-content.vimson-sec3.authntick3 .blue-bg.other-blue.nav-blu.authntick-r-col.w-col.w-col-6 {
        height: auto;
        padding-left: 0px;
      }

      .auth-sec-1 .insisive-cin-wrapper {
        padding-left: 20px;
      }

      .auth-sec-4,
      .auth-sec-5,
      .auth-sec-6 {
        height: auto;
        padding: 50px 35px !important;
      }

      .auth-sec-6.vimson-sec5.authntick4.authntick6 .box-content-white {
        max-width: 100%;
        margin-left: 0px;
      }

      .auth-sec-8 {
        height: auto;
      }
    }

    .insisive1.authntick1 {
      margin: 0;
    }
    .insisive1.authntick1 .insisive-cin-wrapper {
      color: #FFFFFF;
      h1, p,
      .paragraph-16,
      .heading-24 {
        color: #FFFFFF;
      }
      .paragraph-16 {
        margin-bottom: 30px;
      }
    }

    .vimson-sec2.vigan.smartlink.insisive.authntick2 {
      // background-size: auto;
      // width: 100%;
      // height: 2337px;
      // position: absolute;
      // top: -750px;
      // animation: mover 90s infinite alternate;
      // z-index: 3;
    }

    .custom-list {
      li {
        position: relative;
        padding-left: 20px;
        margin-right: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
        &::before {
          content: "";
          position: absolute;
          left: 0px;
          top: 13px;
          width: 6px;
          height: 6px;
          background: #d2143a;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }

    .auth-sec-4 {
      .cus-flexx {
        .vimson-sec5-img {
          img {
            width: 781px;
            height: auto;
            object-fit: cover;
            max-width: unset;
            position: relative;
            left: -70px;
          }
        }
      }
    }

    .auth-sec-6 .box-content-white {
      margin-left: 0 !important;
    }
    .auth-sec-6 .vimson-sec5-img {
      img {
        position: relative;
        width: 843px;
        max-width: unset;
        height: auto;
        object-fit: cover;
        left: -15px;
      }
    }
    .auth-sec-7 .insisive5-img-img {
      position: relative;
      width: 720px;
      height: auto;
      max-width: unset;
      object-fit: cover;
      left: -15px;
    }
    .auth-sec-8 .heading-partt .heading-25 {
      max-width: 700px;
      text-align: center;
      margin: 0 auto 20px;
    }
    .auth-sec-8 .heading-partt p {
      font-weight: 300;
      margin-bottom: 60px;
    }

    .testimovial {
      display: block;
      max-width: 464px;
      margin: 0 auto;
      .heading-32 {
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        color: var(--color-white);
      }
      .paragraph-23 {
        font-size: 16px;
        line-height: 25.9px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
      }
    }

  }
}
